<div class="container">
  <div class="row">
    <div class="col s12 m9 l10">
      <h2 class="header">
        Users
      </h2>
      <% @users.sort{|user1, user2| user1.id <=> user2.id}.each do |user| %>
      <%= render partial: 'profile_card', locals: {user: user} %>
      <% end %>
    </div>
  </div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to '#modal-create', class: 'btn-floating btn-large red modal-trigger' do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
  <%= render 'create_modal' %>
  <%= render 'delete_modal' %>
</div>
<script>

function deleteUser(user_id) {
  var href = '/admin/users/' + user_id,
  method = 'delete',
  csrf_token = $('meta[name=csrf-token]').attr('content'),
  csrf_param = $('meta[name=csrf-param]').attr('content'),
  form = $('<form method="post" action="' + href + '"></form>'),
  metadata_input = '<input name="_method" value="' + method + '" type="hidden" />';

  if (csrf_param !== undefined && csrf_token !== undefined) {
    metadata_input += '<input name="' + csrf_param + '" value="' + csrf_token + '" type="hidden" />';
  }

  form.hide().append(metadata_input).appendTo('body');
  form.submit();
}
</script>
<% content_for :footer_script do %>
<script>
$(function() {
  $('.modal-trigger').leanModal();
});
</script>
<% end %>
